---
import { Image } from 'astro:assets'
import { getImage } from '@utils/image'
import siteConfig from '@data/global/index.json'
import { Icon } from 'astro-icon/components'
import Button from '@components/ui/Button.astro'

interface Props {
  title?: string
  desc?: string
  email?: string
  items?: Array<{
    name: string
    image: string
    link: string
  }>
  msgTitle?: string
  msgText?: string
}

const { title, desc, email, items = [], msgTitle, msgText } = Astro.props

const logo = siteConfig.logo
const processedImage = logo ? await getImage(logo) : null

const getIconName = (path: string = '') => {
  return path.split('/').pop()?.replace('.svg', '') || ''
}
---

<section class="mt-10 flex flex-col items-center py-12" id="contact" data-in="zoomIn">
  {
    processedImage && (
      <Image src={processedImage} alt={`${siteConfig.title} logo`} width="80" height="80" class="w-auto rounded-xl shadow-[0_6px_12px_0_rgba(29,29,38,0.1)]" />
    )
  }
  <h2 class="mt-4 text-xl font-medium tracking-tight md:text-2xl">{title}</h2>
  <h3 class="max-w-96 text-lg font-medium text-content">{desc}</h3>
  <Button href={`mailto:${email}`} icon="email" class="mt-8 px-8 py-4 text-lg">Send Email</Button>
  {
    items.length > 0 && (
      <div class="mt-8 flex justify-center space-x-6">
        {items.map((item) => (
          <a href={item.link} class="text-neutral-500 hover:text-neutral-600">
            <Icon name={getIconName(item.image)} title={item.name} class="h-6 w-6" />
          </a>
        ))}
      </div>
    )
  }
</section>

<section class="mx-6 rounded-xl border border-neutral-200 bg-white md:mx-0">
  <div class="border-b border-neutral-200 p-6">
    <div class="mb-3 inline-block rounded-lg border border-neutral-200 bg-neutral-100 p-3">
      <Icon name="write" class="h-6 w-6 text-content" />
    </div>
    <h3 class="my-2 text-xl font-medium">{msgTitle}</h3>
    <p class="max-w-96 text-sm font-medium text-content">{msgText}</p>
  </div>
  <form class="grid grid-cols-1 gap-6 p-6 font-medium text-neutral-800">
    <input
      type="text"
      id="name"
      class="w-full rounded-lg bg-neutral-100 px-4 py-2.5 text-sm focus:border-emerald-500 focus:outline-none"
      placeholder="Full Name"
    />

    <input
      type="email"
      id="email"
      class="w-full rounded-lg bg-neutral-100 px-4 py-2.5 text-sm focus:border-emerald-500 focus:outline-none"
      placeholder="Email"
    />

    <textarea
      id="message"
      rows="4"
      class="w-full rounded-lg bg-neutral-100 px-4 py-2.5 text-sm focus:border-emerald-500 focus:outline-none"
      placeholder="Message"></textarea>

    <button type="submit" class="rounded-lg bg-primary px-4 py-2.5 text-sm font-medium text-white hover:bg-gray-900 focus:outline-none"> Send Message </button>
  </form>
</section>
